version: "3.9"

services:
  web:
    container_name: tutorpet_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4173:4173"
    environment:
      NODE_ENV: production
    restart: unless-stopped
